html, body{
    background-color:lightslategray;
    margin:0;
    height: 100%;
    width: 100%;
}




.container{
    width: auto;
    height: 66%;
    

    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    display:grid;
    flex-direction: column;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 1fr 10fr;
    gap: 25px;

}


.messageCtn{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: aliceblue;
    width: 100%;
    font-size: 32px;
    text-align: center;
}



/* Game container */
.boardCtn{
    grid-row: 2/3;
    grid-column: 1/2;
    flex:1;
    display:flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.row{
    flex:1;
    display:flex;
}

.cell{
    flex:1;
    margin:0;
    padding:0;

    
    border:3px solid black;
    color: black;
    font-size: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
}




.buttonCtn{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button{
    font-size: 20px;
}